@import "reset.css";

body{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
 color: white;
 justify-content: space-between;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    padding-top: 10px;
}
#nav div{
    width: 33%;
}
#nav div:last-child{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    text-align: right;
}

#bgImg{
    position: absolute;
    z-index: -2;
    height: 100vh;
    width: 100%;
}
#bgImg img{
    height: 100%;
    width: 100%;
}
#ask-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}
#ask-main h1:first-child{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}
#ask-main span{
    font-size: 30px;
}
#todo-form{
    width: 500px;
}
#login-form input[type=text],
#todo-form input[type=text]{
    width: 100%;  /* 원하는 너비 설정 */ 
    height: auto;  /* 높이값 초기화 */
    line-height : normal;  /* line-height 초기화 */
    padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit;  /* 폰트 상속 */
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;  /* iSO 둥근모서리 제거 */
    outline-style: none;  /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;  /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 25px;
    font-weight: 600;
    color: white;
    
}
#greeting{
    font-size: 40px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 60px;
}

#clock{
    font-size: 150px;
    font-weight: 400;
}
#quote{
    padding-bottom: 10px;
}


.hidden{
    display: none;
}